<div class="text-center  mt-3" id="head"><h2
  class="m-0 text-light pt-2 ">CHỈNH SỬA NHÂN VIÊN</h2></div>
<form [formGroup]="employeeFormGroup" (ngSubmit)="updateEmployee()" *ngIf="employeeFormGroup">
  <div class="row">
    <div formGroupName="user">
      <div class="col-lg-12">
        <label for="account"><b>Tài khoản</b><span>*</span> </label>
        <input type="text" disabled id="account" formControlName="username">
      </div>
    </div>
    <div formGroupName="passwordGroup">
      <div class="col-lg-12">
        <label for="psw"><b>Mật khẩu mới:</b><span>*</span></label>
        <span *ngIf="employeeFormGroup.get('passwordGroup').hasError('required','passwordNew') &&
                             ( employeeFormGroup.get('passwordGroup').get('passwordNew').touched || submitCheck)" class="mx-1">
                 Vui lòng nhập mật khẩu!</span>

        <span *ngIf="employeeFormGroup.get('passwordGroup').hasError('minlength','passwordNew') &&
                                     ( employeeFormGroup.get('passwordGroup').get('passwordNew').touched  || submitCheck)" class="mx-1">
                  Mật khẩu tối thiểu 6 kí tự</span>
        <span *ngIf="employeeFormGroup.get('passwordGroup').hasError('maxlength','passwordNew') &&
                                     ( employeeFormGroup.get('passwordGroup').get('passwordNew').touched  || submitCheck)" class="mx-1">
                  Mật khẩu tối đa 32 kí tự</span>

        <input type="password" name="psw12" required id="psw" formControlName="passwordNew">
      </div>

      <div class="col-lg-12">
        <label for="psw-repeat"><b>Nhập lại mật khẩu</b><span>*</span></label>
        <span *ngIf="employeeFormGroup.controls.passwordGroup.hasError('notSame') &&
                      ( employeeFormGroup.controls.passwordGroup.dirty || submitCheck)" class="mx-1">
            Nhập lại mật khẩu không trùng khớp!
        </span>
        <input type="password" name="psw" required id="psw-repeat" formControlName="passwordConfirm">
      </div>

    </div>

    <div class="col-lg-12">
      <label for="name"><b>Họ tên</b><span>*</span>
      </label>
      <span
        *ngIf="employeeFormGroup.controls.name.hasError('required') &&
                     ( employeeFormGroup.controls.name.touched  || submitCheck)" class="mx-1">
      Vui lòng nhập tên!
      </span>
      <span
        *ngIf="employeeFormGroup.controls.name.hasError('pattern') &&
                     ( employeeFormGroup.controls.name.touched  || submitCheck)" class="mx-1">
           Tên không được chứa số!
      </span>
      <input type="text" required id="name" formControlName="name">
    </div>

    <div class="col-lg-12">
      <label for="code"><b>CMND</b><span>*</span></label>
      <span *ngIf="employeeFormGroup.controls.idCard.hasError('required') &&
     ( employeeFormGroup.controls.idCard.touched  || submitCheck)" class="mx-1">
       Vui lòng nhập số CMND!</span>

      <span *ngIf="employeeFormGroup.controls.idCard.hasError('pattern') &&
                      (employeeFormGroup.controls.idCard.touched  || submitCheck)" class="mx-1">
      CMND phải gồm 9 hoặc 12 số!</span>

      <input type="text" required id="code" formControlName="idCard">
    </div>

    <div class="col-lg-12">
      <label for="email"><b>Email</b><span>*</span>
      </label>

      <span *ngIf="employeeFormGroup.controls.email.hasError('required') &&
                      (employeeFormGroup.controls.email.touched  || submitCheck)" class="mx-1">
      Vui lòng nhập email!</span>
      <span *ngIf="employeeFormGroup.controls.email.hasError('email') &&
                      (employeeFormGroup.controls.email.touched  || submitCheck)" class="mx-1">
      Email phải đúng định dạng có đuôi là @gmail.com!</span>
      <input type="email" required id="email" formControlName="email">
    </div>

    <div class="col-lg-12">
      <label for="phoneNumber"><b>Số điện thoại</b><span>*</span>
      </label>

      <span *ngIf="employeeFormGroup.controls.phoneNumber.hasError('required') &&
                      (employeeFormGroup.controls.phoneNumber.touched || submitCheck)" class="mx-1">
      Vui lòng nhập số điện thoại!</span>
      <span *ngIf="employeeFormGroup.controls.phoneNumber.hasError('pattern') &&
                      (employeeFormGroup.controls.phoneNumber.touched || submitCheck)" class="mx-1">
      Số điện thoại pha đúng định dạng là 090|091xxxxxxx hoặc (84)+90|91xxxxxxx!</span>
      <input type="text" required id="phoneNumber" formControlName="phoneNumber">
    </div>

    <div class="col-lg-12">
      <label for="address"><b>Địa Chỉ</b><span>*</span></label>
      <span *ngIf="employeeFormGroup.controls.address.hasError('required') &&
                      (employeeFormGroup.controls.address.touched || submitCheck)" class="mx-1">
    Vui lòng nhập địa chỉ!</span>
      <input type="text" required id="address" formControlName="address">
    </div>

    <div class="col-lg-12">
      <label for="birthday"><b>Ngày sinh</b><span>*</span></label>

      <span *ngIf="employeeFormGroup.controls.dayOfBirth.hasError('required') &&
                      (employeeFormGroup.controls.dayOfBirth.touched || submitCheck)" class="mx-1">
      Chọn ngày sinh!</span>
      <input type="date" required id="birthday" formControlName="dayOfBirth">
    </div>

    <div class="col-lg-12">
      <label><b>Giới tính</b><span>*:</span></label><br>
      <span *ngIf="employeeFormGroup.controls.gender.hasError('required') &&
                     ( employeeFormGroup.controls.gender.touched || submitCheck)" class="mx-1">
      Chọn giới tính!</span>
      <label><input type="radio" class="m-2" value="0" name="gender" formControlName="gender">Nam</label>
      <label class="mx-5"><input type="radio" class="m-2 " value="1" name="gender"
                                 formControlName="gender">Nữ</label>
      <label><input type="radio" class="m-2" value="2" name="gender" formControlName="gender">Khác</label><br>
    </div>

    <div class="row mt-3">
      <label for="img"><b>Hình ảnh</b><span>*</span></label>
      <span *ngIf="employeeFormGroup.controls.image.hasError('required') &&
                     ( employeeFormGroup.controls.image.touched || submitCheck)" class="mx-1">
      Chọn ảnh!</span>
      <div id="img" class="col-lg-6 upload-wrap mt-2">
        <input id="file-uploader" class="font-control-file" type="file" accept="image/*" (change)="showPreview($event)"
               [src]="imgUrl">

        <!--        <p class="pFile mt-1">Định dạng cho jpg, png</p>-->
      </div>
      <div class="col-lg-6 mt-2">
        <img [src]="imgUrl" id="img-grid" class="uploadpreview 01 imgEmployee">
      </div>
    </div>

    <div class="clearfix row">

      <div class="col-6">
        <button type="submit" class="button  btnGreen mx-5">Sửa</button>
      </div>
      <div class="col-6">
        <button type="button" class="button  btnYellow"  routerLink="/list">Quay lại</button>
      </div>

    </div>

  </div>
</form>
